<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" id="le-regulatory">
                    <div class="row">
                        <div class="form-body col-md-6">
                        <legend>Regulatory Capital</legend>
                            <div class="form-group">
                            <label class="control-label col-md-3">Multiplier for RWA Capital Charge</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <input type="text" name="demo1" class="form-control" ng-model="legalEntity.rwaMultiplier"></div>
                                <span class="help-block"> example with decimal steps </span>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="control-label col-md-3">Multiplier For Leverage Ratio Capital Charge</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <input type="text" name="demo1" class="form-control" ng-model="legalEntity.leverageRatioMultiplier"></div>
                                <span class="help-block"> example with decimal steps </span>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="control-label col-md-3">Regulatory Status</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <select class="form-control input-medium"
                                            id="legal-entity-regulatories_status" name="legal-entity-regulatories_status[]"
                                            ng-options="regulatory_status for regulatory_status in regulatories_status" ng-model="legalEntity.regulatory" >
                                    </select>

                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="form-body col-md-6">
                        <legend>Dodd-Frank CFCT</legend>
                            <div class="form-group">
                                <label class="control-label col-md-3">Swap Dealer (SD)</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.doddFrankSwapDealer" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Major Swap Participant (MSP)</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.doddFrankMajorSwapParticipant" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Prime Broker (PB)</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.doddFrankPrimeBroker" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Executing Broker (EB)</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.doddFrankExecutingBroker" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
    
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label col-md-3">U.S Person</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.doddFrankUSPerson" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
    
                                </div>
                        </div>
                         <div class="form-group">
                                <label class="control-label col-md-3">Financial Entity</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.doddFrankFinancialEntity" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
                                </div>
                        </div>
                        </div>
                        <div class="form-body col-md-6">
                            <legend>CCPs membership for OTC derivatives</legend>
                            <div class="form-group">
                                <label class="control-label col-md-3">Swap clear</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.swapClear" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
                
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Eurex</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.eurex" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">CME OTC</label>
                                <div class="col-md-9">
                                            <input bs-switch ng-model="legalEntity.cmeOTC" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                               ng-true-value="true" ng-false-value="false">
    
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-md-3">BME Clearing</label>
                                    <div class="col-md-9">
                                                <input bs-switch ng-model="legalEntity.bmeClearing" type="checkbox"
                                                   switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                                   ng-true-value="true" ng-false-value="false">
        
                                    </div>
                            </div>
                        </div>
                         <div class="form-body col-md-6">
                            <legend>RegisTR Reporting</legend>
                            <div class="form-group">
                                <label class="control-label col-md-3">Emir Mandatory Reporting</label>
                                <div class="col-md-9">
                                            <input bs-switch class="registr-checkbox" ng-model="legalEntity.registr.emirMandatoryReporting " type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal"  ng-true-value="true" ng-false-value="false" />
    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 ">Reports Own Position</label>
                                <div class="col-md-9">
                                            <input  bs-switch class="registr-checkbox" ng-model="legalEntity.registr.requireAccess.reportsOwnPosition" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal" ng-true-value="true" ng-false-value="false" />
    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Reports Third Party Position</label>
                                <div class="col-md-9">
                                            <input  bs-switch class="registr-checkbox" ng-model="legalEntity.registr.requireAccess.reportsThirdPosition" type="checkbox"
                                               switch-on-text="Yes" switch-off-text="No" switch-size="normal" ng-true-value="true" ng-false-value="false">
    
                                </div>
                            </div>
                              <div class="form-group">
                                    <label class="control-label col-md-3">Regis-TR Identification
                                    </label>
                                    <div class="col-md-9">
                                        <div class="col-md-3 row">
                                            <select id="legal-entity-registr-identificationType" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="identificationList">
                                                <option value="lei">LEI</option>
                                                <option value="iei">IEI</option>
                                                <option value="cod">COD</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                                <input  ng-model="identification" type="text" placeholder="LEI / IEI / COD " class="form-control    "/>
                                        </div>
                                    </div>
                            </div>
                            <div class="regis-tr-access" ng-show="showRegistrData">
                                <div class="form-group">
                                        <label class="control-label col-md-3">Account Code</label>
                                        <div class="col-md-9">
                                                    <input ng-model="legalEntity.registr.access.accountCode" type="text" class="form-control input-medium" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-md-3">Account Type</label>
                                        <div class="col-md-9">
                                                    <select ng-model="legalEntity.registr.access.accountType"   class="form-control input-medium" >
                                                        <option value="H">H</option>
                                                    </select>
            
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-md-3">Identification IEI</label>
                                        <div class="col-md-9">
                                                    <input ng-model="legalEntity.registr.access.identificationIEI" type="text" class="form-control input-medium"/>
            
                                        </div>
                                </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Username</label>
                                    <div class="col-md-9">
                                                <input  ng-model="legalEntity.registr.access.username" type="text"  class="form-control input-medium"/>
        
                                    </div>
                            </div>
                              <div class="form-group">
                                    <label class="control-label col-md-3">Password</label>
                                    <div class="col-md-9">
                                                <input  ng-model="legalEntity.registr.access.password" type="password" class="form-control input-medium" />
        
                                    </div>
                            </div>
                            </div>    
                            <div class="form-group">
                                    <label class="control-label col-md-3">Delegate Reporting in Third Party</label>
                                    <div class="col-md-9">
                                      <input bs-switch ng-model="legalEntity.registr.delegateReporting" type="checkbox"  />
                                                                                    </div>
                            </div>
                              <div class="form-group" ng-show="legalEntity.registr.delegateReporting">
                                    <label class="control-label col-md-3">Third Party Reporting Entity
                                    </label>
                                    <div class="col-md-9">
                                              <input  ng-model="legalEntity.registr.thirdPartyReporting" type="text" class="form-control input-medium" />
    
                                    </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
