<div class="multiselect-container">

    <div class="panel-container">
        <input type="text" class="search-input" autocomplete="off" placeholder="Search"
               ng-model="multiselectElements.inputSearchSelect" ng-if="multiselectElements.searchSelect">
        <div class="panel-multiselect panel-multiselect-left">
            <ul>
                <li ng-repeat="item in multiselectElements.msOptions | filter: multiselectElements.inputSearchSelect"
                    ng-bind-html="item.name | highlight:multiselectElements.inputSearchSelect"
                    ng-click="multiselectElements.selectElement(item, $index)" ng-if="!item.hide">
                </li>
            </ul>
        </div>
    </div>

    <div class="panel-container panel-multiselect-center">
        <div class="buttons-actions">
            <span class="glyphicon glyphicon-forward" ng-click="multiselectElements.selectAll(this)"></span>
            <span class="glyphicon glyphicon-backward" ng-click="multiselectElements.unselectAll(this)"></span>
        </div>
    </div>

    <div class="panel-container">
        <input type="text" class="search-input" autocomplete="off" placeholder="Search"
               ng-model="multiselectElements.inputSearchSelected" ng-if="multiselectElements.searchSelected">
        <div class="panel-multiselect panel-multiselect-right">
            <ul>
                <li ng-repeat="item in multiselectElements.msSelected | filter: multiselectElements.inputSearchSelected"
                    ng-bind-html="item.name | highlight:multiselectElements.inputSearchSelected"
                    ng-click="multiselectElements.unselectElement(item, $index)">
                </li>
            </ul>
        </div>
    </div>

</div>