@media (min-width: 1200px) {
    .container {

        width: 1280px;

    }
}

@media (min-width: 992px) {
    .page-header .navbar-collapse {
        margin-top: 75px;
        margin-left: 1px;
    }

    .page-header .topbar-actions {
        top: 5px;
    }

    .page-header .navbar-fixed-top {
        background: #616d76;
        padding: 9px 25px;
    }

    .wrapper {
        margin-top: 0;
    }

    .modal-xlg .modal-dialog {
        width: 1200px !important;
    }
}
@media (max-height: 767px) {
    .split-pane {
        min-height: 650px !important;
    }
    #country_risk_map{
        height: 640px !important;
    }
    #grid_country_risk{
        height: 600px;
    }
    .issuer_map_chart{
        height: 300px;
    }
}
@media (min-height: 768px) {
    .split-pane {
        min-height: 650px !important;
    }
    .country_risk_map{
        height: 640px !important;
    }
    #grid_country_risk{
        height: 600px;
    }
    .issuer_map_chart{
        height: 500px;
    }
}
@media (min-height: 992px) {
    .split-pane {
        min-height: 970px !important;
    }
    .country_risk_map{
        height: 960px !important;
    }
    #grid_country_risk{
        height: 900px;
    }
}