/* here you can put your own css to customize and override the theme */
.page-content {
    padding: 5px;
    margin: 0;
    background-color: #616d76;
}

.page-logo
{
    width: 20px;
}

.page-logo span{

}

.page-content{
    width: 100%;
}
.container-fluid .page-content
{
    background-color: white;
    margin-left: 1px;
}

.dropdown-menu.dropdown-menu-fw
{
    border: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.dropdown.dropdown-fw ul
{
    margin-right: -1px;
}

/* footer copyright */
.footer {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px !important;
    padding: 10px;
    color: #7a8ca5;
    font-size: 14px;
}

.go2top
{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.go2top i
{
    font-weight: bold;
    color: #ffffff;
}

.logo img{
    border-radius: 4px;
    /*-webkit-box-shadow: 0px 0px 28px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 28px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 28px 2px rgba(255,255,255,1);*/
}

.logo-container{
    margin-left: 20px;
    /*border-radius: 4px;
    -webkit-box-shadow: 0px 0px 28px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 28px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 28px 2px rgba(255,255,255,1);*/
    display: inline-block;
}
.logo-container img:first-child
{
    width: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px #eee solid;
}

.logo-container img:last-child
{
    width: 300px;
}
.page-on-scroll .page-header .navbar-fixed-top{
    padding-top: 10px;
}

@media (min-width: 1200px){
    .container{

        width: 1280px;

    }
}

@media (min-width: 992px){
    .page-header .navbar-collapse {
        margin-top: 75px;
        margin-left: 1px;
    }

    .page-header .topbar-actions {
        top: 5px;
    }

    .menu-collateral-management{
        margin-top: 3px !important;
        min-height: 700px;
    }

    .page-header .navbar-fixed-top {
        background: #616d76;
        padding: 9px 25px;
    }

    .wrapper{
        margin-top: 0;
    }
}

i.close-tab-icon
{
    -webkit-transition: color 400ms ease-in;
    -moz-transition: color 400ms ease-in;
    -ms-transition: color 400ms ease-in;
    -o-transition: color 400ms ease-in;
    transition: color 400ms ease-in;
    margin-left: 5px;
}

i.close-tab-icon:hover {
    color: darkgrey;
    cursor: pointer;
}

img.action-button-icon{
	width: 20px;
}
div.action-button-container{
	margin-top:10px;
}

/* UI GRID STYLES*/
.uigrid-btn
{
    margin-top: 2px;
    margin-bottom: 2px;
}

/* User Menu */

.menu-collateral-management
{
    /*background-color: white;*/
}

.menu-collateral-management .menu-collateral-container{
    padding-left: 0 !important;;
    padding-right: 0 !important;
    margin-bottom: 4px;
    background-color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px #eee solid;
}

.collateral-menu-item .nav-link{
    padding: 18px;
}

/* User Menu */

/* Full Screen Customize*/

.page-portlet-fullscreen .page-header
{
    display: block !important;
}

/* Full Screen Customize*/

/* Animate Refresh Glyphicon */
.glyphicon-refresh-animate {
    -animation: spin .5s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/*FOOTER*/

.copyright
{
    color: #eee;
}