<div class="row calculation" ng-controller="CCPsDefaultFundController">
    <div class="col-md-4">
        <div class="portlet light bordered" style="height: 370px;">
            <form class="form-horizontal" role="form">
                <strong>Leverage Ratio on House Account Collateral</strong>
                <div class="form-group">
                    <div class="mt-radio-inline">
                        <div class="col-md-12">
                            <strong>Posted IM in Leverage ratio exposure</strong>
                        </div>
                        <div class="col-md-12">
                            <p>Is posted initial margin included in the denominator (exposure) in the leverage ratio capital charge calculation?</p>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Cash IM</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Non Cash IM</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="mt-radio-inline">
                        <div class="col-md-12">
                            <strong>Posted Default Fund in Leverage ratio exposure</strong>
                        </div>
                        <div class="col-md-12">
                            <p>Is posted default fund included in the denominator (exposure) in the leverage ratio capital charge calculation?</p>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Cash Default Fund</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Non Cash Default Fund</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light bordered" style="height: 370px;">
            <form class="form-horizontal" role="form">
                <strong>Clients Leverage Ratio Exposure</strong>
                <div class="form-group">
                    <div class="mt-radio-inline">
                        <div class="col-md-12">
                            <strong>Posted IM in Leverage ratio exposure</strong>
                        </div>
                        <div class="col-md-12">
                            <p>Is posted initial margin included in the denominator (exposure) in the leverage ratio capital charge calculation of the client?</p>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Cash IM</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Non Cash IM</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="mt-radio-inline">
                        <div class="col-md-12">
                            <strong>Clearing Broker Leverage ratio exposure</strong>
                        </div>
                        <div class="col-md-12">
                            <p>Is collateral received from the client and posted to CCP consideraded in the leverage ratio esposure?</p>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Cash Default Fund</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Non Cash Default Fund</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light bordered" style="height: 370px;">
            <form class="form-horizontal" role="form">
                <strong>Default Fund exposure capital charge</strong>
                <div class="form-group">
                    <div class="mt-radio-inline">
                        <div class="col-md-12">
                            <strong>Posted IM in Leverage ratio exposure</strong>
                        </div>
                        <div class="col-md-12">
                            <p>Is posted initial margin included in the denominator (exposure) in the leverage ratio capital charge calculation?</p>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Cash IM</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Non Cash IM</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="mt-radio-inline">
                        <div class="col-md-12">
                            <strong>Posted Default Fund in Leverage ratio exposure</strong>
                        </div>
                        <div class="col-md-12">
                            <p>Is posted default fund included in the denominator (exposure) in the leverage ratio capital charge calculation?</p>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Cash Default Fund</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-5">Non Cash Default Fund</label>
                            <div class="col-md-7">
                                <input bs-switch ng-model="defaultFund.clientClearing" type="checkbox"
                                       switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                       ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
