<div class="modal-header">
    <h4 class="modal-title">Users Management</h4>
</div>
<div class="modal-body" style="min-height: 400px;">

    <uib-tabset active="active" class="menu-collateral-container">
        <uib-tab index="0">
            <uib-tab-heading>
                Groups
            </uib-tab-heading>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <span class="caption-subject bold uppercase"> Groups</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="slimScrollDiv">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="Enter Name of Group">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" placeholder="Enter Name of Group"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-user"></i> Users
            </uib-tab-heading>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <span class="caption-subject bold uppercase"> Users</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="slimScrollDiv">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="Enter Name">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Enter last name">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email Address</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                            <input type="email" class="form-control" placeholder="Email Address"> </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                            <i class="fa fa-lock"></i>
                                                        </span>
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </uib-tab>
        <uib-tab index="2" >
            <uib-tab-heading>
                <i class="glyphicon glyphicon-eye-open"></i> Permissions
            </uib-tab-heading>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <span class="caption-subject bold uppercase"> Permissions</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="slimScrollDiv">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Group</label>
                                    <div class="col-md-9">

                                        <ui-select ng-model="UserMgm.group.selected" theme="selectize" title="Choose a Group" class="input-large">
                                            <ui-select-match placeholder="Select or search a Group...">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="group in UserMgm.groupList | filter: $select.search">
                                                <span ng-bind-html="group.name | highlight: $select.search"></span>
                                                <small ng-bind-html="group.code | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div ui-grid="UserMgm.gridOptions" ui-grid-exporter
                                     ui-grid-auto-resize
                                     class="grid" style="height: 200px;"></div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </uib-tab>
    </uib-tabset>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="UserMgm.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="UserMgm.save()">Save</button>
</div>