<div class="portlet light" ng-controller="MarginCallController as marginCallCtrl">
	<div class="row portlet light bordered" id="collateral-agreements">
		<div class="portlet-title">
			<div class="caption" col-md-3>
				<i class="fa fa- font-dark font-green-haze"></i> <span
					class="caption-subject bold uppercase font-green-haze">
					Margin Call</span>
			</div>
			<div class="col-md-3">
					<div class="dropdown">
						<button class="btn green dropdown-toggle" type="button"
							data-toggle="dropdown">
							Action <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#!">1.- Send Message MC3</a></li>
						</ul>
					</div>

				</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"> </a> <a href="javascript:;"
					class="fullscreen"> </a>
			</div>
		</div>

		<div class="portlet-body">

			<div class="row">

				<div class="col-md-4 col-md-offset-4">
					<div class="form-group">
						<label class="control-label col-md-3 text-right">Date</label>
						<div class="col-md-8">

							<div class="input-group">
								<input placeholder="Date" type="text" class="form-control"
									placeholer="Date" uib-datepicker-popup ng-model="dt"
									is-open="popup.opened" datepicker-options="dateOptions"
									ng-required="true" close-text="Close" ng-change="dateChange(this)" /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="openDatePicker()">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
	
						</div>
					</div>
				</div>
				
			</div>
			<br />
			<div class="row">
				<div class="col-md-5">
					<div class="portlet light bordered" style="margin-bottom:0">
						<div class="portlet-body">
							<div class="row">
								<div google-chart chart="pieChartMarginCall" style="height:303px; width:100%;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="portlet light bordered" style="margin-bottom:0">
						<div class="portlet-body">
							<div class="row">
								<div ui-grid="gridMarginCall" ui-grid-selection ui-grid-exporter
									 ui-grid-auto-resize ui-grid-resize-columns  ui-grid-pagination class="grid" style="height: 300px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>