<div class="portlet light" ng-controller="MarginCallDetailController as MarginDtCtrl">

    <div class="row" du-smooth-scroll du-scrollspy>
        <!-- BEGIN CHART PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-call-in font-dark font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Margin Call </span>
                    <span class="caption-helper">{{dt | date:'dd/MM/yyyy HH:mm'}}</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="" class="fullscreen"> </a>
                </div>
                <div class="col-md-1">
                    <div class="btn-group">
                        <a href="#!"  uib-popover="Send" popover-trigger="mouseenter" ng-click="MarginDtCtrl.sendMargin()">
                            <img class="action-button-icon-md" src="assets/pages/icons/message.ico">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table  class="table table-striped table-bordered table-hover table-checkable order-column" style="margin-bottom:0">
                <thead>
                <tr>
                    <th> Counterparty </th>
                    <th> Status </th>
                    <th> Contract </th>
                    <th> Currency </th>
                    <th> Amount </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="font-size: 12px;">{{MarginCall.contract.counterpartyB.name}}</td>
                    <td style="font-size: 12px;"><span class="label label-sm label-success"> {{MarginCall.marginCalls[0].status}}  </span></td>
                    <td style="font-size: 12px;">{{MarginCall.marginCalls[0].contractType?'Yes':'No'}}</td>
                    <td style="font-size: 12px;">{{MarginCall.contract.baseCurrency}}</td>
                    <td style="font-size: 12px;">{{MarginCall.marginCallAmount}}</td>
                </tr>
                </tbody>
                </table>
                <uib-tabset active="1">
                    <uib-tab index="$index + 1" ng-repeat="tab in tabs1" active="tab.active" disable="tab.disabled">
                        <uib-tab-heading>
                            <i class="{{tab.icon}}"></i>{{tab.title}}
                        </uib-tab-heading>
                        <div ng-include=tab.templateUrl></div>
                    </uib-tab>
                </uib-tabset>
                <uib-tabset active="1">
                    <uib-tab index="$index + 1" ng-repeat="tab in tabs2" active="tab.active" disable="tab.disabled">
                        <uib-tab-heading>
                            <i class="{{tab.icon}}"></i>{{tab.title}}
                        </uib-tab-heading>
                        <div ng-include=tab.templateUrl></div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <!-- END CHART PORTLET-->
    </div>
    <!-- END ROW -->
</div>