<div ng-controller="MarginCallCsaController as mcCsaAlloc">
		<uib-tabset active="active" > 
			<uib-tab index="1" disable="tabPosted.disabled"> 
				<uib-tab-heading> 
					<i class=""></i>Posted
				</uib-tab-heading>
					<div class="row" >
						<div class="col-md-6"> 
		                    <div class="btn-group">
		                        <a type="submit" class="btn" uib-popover="" popover-trigger="mouseenter" ng-click="" ng-disabled="">
		                            <i class="fa fa-floppy-o" ></i>
		                        </a>	
		
		                	</div>
		                	<div class="btn-group">
		                        <a type="submit" class="btn" uib-popover="" popover-trigger="mouseenter" ng-click="" ng-disabled="">
		                            <i class="fa fa-pencil"></i>
		                        </a>	
		
		                	</div>
		                	<div class="btn-group">
		                        <a type="submit" class="btn" uib-popover="" popover-trigger="mouseenter" ng-click="" ng-disabled="">
		                            <img class="action-button-icon-sm" src="assets/pages/icons/message.ico">
		                        </a>	
		
		                	</div>
		                	<div class="btn-group">
	                        <a type="submit" class="btn" uib-popover="" popover-trigger="mouseenter" ng-click="addSecurity()" ng-disabled="">
	                            <i class="fa fa-plus"></i>
	                        </a>	
	                		</div>
						</div>
					</div>
					<form class="form-inline ng-pristine ng-valid" role="form" id="mc-calculation">
					<br/>
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
									<label class="control-label col-md-3 text-right">Summary:</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label col-md-3 text-right">Amount</label>
									<div class="col-md-8">
										<input type="text"
											class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty  ng-valid-required"
											required="required">
			
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label col-md-5 text-right">Agreed Margin Call	</label>
									<div class="col-md-5">
										<input type="text"
											class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty  ng-valid-required"
											required="required">
			
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label col-md-3 text-right">Remaining</label>
									<div class="col-md-8">
										<input type="text"
											class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty  ng-valid-required"
											required="required">
			
									</div>
								</div>
							</div>
						</div>
					</form>
					<br/>
					<div ui-grid="gridMCCsaAllocPosted"  ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit 	class="grid" style="height: 300px;">
					</div>
					
			</uib-tab> 
			<uib-tab index="2"   disable=""> 
				<uib-tab-heading>
					<i class=""></i>Received 
				</uib-tab-heading>
					<div class="row" >
						<div class="col-md-6"> 
		                    <div class="btn-group">
		                        <a type="submit" class="btn" uib-popover="" popover-trigger="mouseenter" ng-click="" ng-disabled="">
		                            <i class="fa fa-floppy-o" ></i>
		                        </a>	
		
		                	</div>
		                	<div class="btn-group">
		                        <a type="submit" class="btn" uib-popover="" popover-trigger="mouseenter" ng-click="" ng-disabled="">
		                            <i class="fa fa-pencil"></i>
		                        </a>	
		
		                	</div>
		                	<div class="btn-group">
		                        <a type="submit" class="btn" uib-popover="" popover-trigger="mouseenter" ng-click="" ng-disabled="">
		                            <img class="action-button-icon-sm" src="assets/pages/icons/message.ico">
		                        </a>	
		
		                	</div>
		                	<div class="btn-group">
		                        <a type="submit" class="btn" uib-popover="" popover-trigger="mouseenter" ng-click="addSecurity()" ng-disabled="">
		                            <i class="fa fa-plus"></i>
		                        </a>	
		
		                	</div>
						</div>
					</div>
					<div ui-grid="gridMCCsaAllocReceived" ui-grid-auto-resize   ui-grid-resize-columns ui-grid-edit	class="grid">
					</div>  
			</uib-tab> 
		</uib-tabset>
	<br/>
</div>
	