<div class="row">
    <div class="col-md-4">
        <div class="portlet light bordered">
            <strong>Calculation (EUR)</strong>
            <div class="portlet-body form" style="font-size: 12px;">
                <form class="form-horizontal" role="form" id="mc-calculation">
                    <div class="form-body">
                        <div class="row">

                            <label class="control-label col-md-2">Exposure</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>

                            <label class="control-label col-md-2">Netted IAs</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>

                        </div>
                        <div class="row">

                            <label class="control-label col-md-2">Exp+IAs</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>

                            <label class="control-label col-md-2">C.S. Amount</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>

                        </div>
                        <div class="row">
                            <label class="control-label col-md-2">Collateral Value</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>

                            <label class="control-label col-md-2">Net exposure</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-2">Margin Amount</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light bordered">
            <strong>Parameters</strong>
            <div class="portlet-body form" style="font-size: 12px;">
                <form class="form-horizontal" role="form" id="mc-parameters">
                    <div class="form-body">
                        <div class="row">

                            <label class="control-label col-md-2">Threshold</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="" disabled>
                            </div>

                            <label class="control-label col-md-2">M.T.A.</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="" disabled>
                            </div>

                        </div>
                        <div class="row">

                            <label class="control-label col-md-2">Rounding</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="" disabled>
                            </div>

                            <label class="control-label col-md-2">Buffer</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="" disabled>
                            </div>


                        </div>
                        <div class="row">
                            <label class="control-label col-md-2">Call Amount</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="" disabled>
                            </div>

                            <label class="control-label col-md-2">Recall amount</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-2">Call type</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="" disabled>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light bordered">
            <strong>Disputes</strong>
            <div class="portlet-body form" style="font-size: 12px;">
                <form class="form-horizontal" role="form" id="mc-disputes">

                    <div class="form-body">
                        <div class="row">

                            <label class="control-label col-md-2">Dispute status</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>

                            <label class="control-label col-md-2">CrPrty call</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>

                        </div>
                        <div class="row">

                            <label class="control-label col-md-2">Agreed margin</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                            <label class="control-label col-md-2">Tolerance</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>

                        </div>
                        <div class="row">
                            <label class="control-label col-md-2">Dispute comments</label>
                            <div class="col-md-10">
                                <textarea class="form-control " rows="3"></textarea>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>