<div class="row" ng-controller="MarginCallInventoryController">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" id="le-general-data">
                    <div class="form-body">
                        <div>
                            <div ui-grid="gridInventoryOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-edit
                                 ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                                 class="grid" style="height: 300px;"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</diV>