<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="row">
                <div class="col-md-3">
                    <div class="btn-group">
                        <button type="submit" class="btn green">
                            <i class="fa fa-calculator" title="Calculate"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" id="le-general-data">
                    <div class="form-body">
                        <div>
                            <div ui-grid="gridTradesOptions" ui-grid-exporter ui-grid-auto-resize
                                 ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                                 class="grid" style="height: 300px;"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</diV>