<div ng-controller="RegisTRMessageRepositoryController">

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption" col-md-3="">
                <i class="fa fa- font-dark font-green-haze"></i> <span class="caption-subject bold uppercase font-green-haze">
					 Message Repository</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="gridmessage" ui-grid="gridMessagesOptions" class="grid"></div>
        </div>
    </div>
</div>