<div class="menu-collateral-management">

    <button ng-click="workspace.addTab({},[0])">xxx</button>
    <button ng-click="workspace.setWorkspaceTabFocus([1,0,0],2)">yyy</button>
    <workspace-Tabs id="MainTabManager" data-workspace-info="workspace"></workspace-Tabs>
<!--    <uib-tabset class="col-md-12 menu-collateral-container" active="active">
        <uib-tab index="1" class="selected collateral-menu-item">
            <uib-tab-heading>
                <i class="icon-home"></i> Collateral Management
            </uib-tab-heading>

            <uib-tabset active="1">
                <uib-tab index="1">
                    <uib-tab-heading>
                        Agreements
                    </uib-tab-heading>

                    &lt;!&ndash; TAB CONTENT BEGIN &ndash;&gt;
                    <div class="container-fluid">
                        <div class="page-content">
                            &lt;!&ndash; BEGIN PAGE BASE CONTENT &ndash;&gt;

                            <div ng-include="'collateral-apps/views/collateral/agreements/index.html'"
                                 class="fade-in-up"></div>

                            &lt;!&ndash; END PAGE BASE CONTENT &ndash;&gt;
                        </div>
                    </div>
                    &lt;!&ndash; TAB CONTENT END &ndash;&gt;

                </uib-tab>


            </uib-tabset>

        </uib-tab>

        <uib-tab index="2" class="collateral-menu-item">
            <uib-tab-heading>
                <i class="fa fa-cogs"></i> Configuration
            </uib-tab-heading>
            <uib-tabset active="1">
                <uib-tab index="1">
                    <uib-tab-heading>
                        <i class="fa fa-bank"></i> Legal Entity
                    </uib-tab-heading>

                    &lt;!&ndash; TAB CONTENT BEGIN &ndash;&gt;
                    <div class="container-fluid">
                        <div class="page-content">
                            &lt;!&ndash; BEGIN PAGE BASE CONTENT &ndash;&gt;

                            <div ng-include="'collateral-apps/views/configuration/legal_entity.html'"
                                 class="fade-in-up"></div>

                            &lt;!&ndash; END PAGE BASE CONTENT &ndash;&gt;
                        </div>
                    </div>
                    &lt;!&ndash; TAB CONTENT END &ndash;&gt;

                </uib-tab>

                <uib-tab index="2">
                    <uib-tab-heading>
                        <i class="icon-bulb"></i> Bilateral Contract
                    </uib-tab-heading>

                    &lt;!&ndash; TAB CONTENT BEGIN &ndash;&gt;
                    <div class="container-fluid">
                        <div class="page-content">
                            &lt;!&ndash; BEGIN PAGE BASE CONTENT &ndash;&gt;

                            <div ng-include="'collateral-apps/views/configuration/BilateralAgreements/index.html'"
                                 class="fade-in-up"></div>

                            &lt;!&ndash; END PAGE BASE CONTENT &ndash;&gt;
                        </div>
                    </div>
                    &lt;!&ndash; TAB CONTENT END &ndash;&gt;

                </uib-tab>
            </uib-tabset>
        </uib-tab>
    </uib-tabset>-->

</div>