<div id="legal-entity-tabs" ng-controller="SecurityController" du-smooth-scroll du-scrollspy>
    <!-- BEGIN CHART PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bank font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze" ng-bind="security.name || 'New Security'"> </span>
                <span class="caption-helper" ng-if="security.id!=-1" ng-bind="security.id"> </span>

            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="javascript:;" class="reload"> </a>
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
           <div class="row">
          		<form class="form-horizontal ng-pristine ng-valid ng-valid-maxlength ng-valid-min ng-valid-max ng-valid-time" role="form" id="le-bilateral-ag-left-side">
            <div class="form-body row">
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">ISIN</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-medium" ng-model="security.isin" ng-disabled="false">
                        </div>
                    </div>

	                    <div class="form-group col-md-12">
	                        <label class="control-label col-md-3">Issuer LEI</label>
	                        <div class="col-md-9">
	                            <input type="text" class="form-control input-medium" ng-model="security.issuerLei" ng-disabled="false">
	                        </div>
						</div>
						
	                    <div class="form-group col-md-12">
	                           <label class="col-md-3 control-label">Country</label>
                                    <div class="col-md-9">
                                        <ui-select ng-model="security.countryList.selected" theme="select2" class="input-medium">
                                            <ui-select-match placeholder="Select Country...">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="country in countryList | filter: $select.search">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                                <small ng-bind-html="country.key | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                    	</div>
          	  
          	  
	                    <div class="form-group col-md-12">
	                        <label class="control-label col-md-3">Price</label>
	                        <div class="col-md-9">
	                            <input type="text" class="form-control input-medium"  ng-disabled="false">
	                        </div>
                        </div>
                        
	                    <div class="form-group col-md-12">
	                        <label class="control-label col-md-3">Currency</label>
	                         <div class="col-md-9">
                                        <ui-select ng-model="security.currencyList.selected" theme="select2" class="input-medium">
                                            <ui-select-match placeholder="Select Country...">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="currency in currencyList | filter: $select.search">
                                                <div ng-bind-html="currency.name | highlight: $select.search"></div>
                                                <small ng-bind-html="currency.key | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
						</div>
						
	                    <div class="form-group col-md-12">
	                        <label class="control-label col-md-3">Description</label>
	                        <div class="col-md-9">
	                            <input type="text" class="form-control input-medium" ng-model="security.description"ng-disabled="false">
	                        </div>
          	  			</div>
          	  	</div>
          	  	<div class="col-md-6">
		          	  	<div class="form-group col-md-12">
		                        <label class="control-label col-md-3">Interest rate</label>
		                        <div class="col-md-9">
		                            <input type="text" class="form-control input-medium" ng-model="security.interestRate" ng-disabled="false">
		                        </div>
		                    </div>

	                    <div class="form-group col-md-12">
	                        <label class="control-label col-md-3">End Date</label>
	                        <div class="col-md-9">
	                            <input type="text" class="form-control input-medium" ng-model="security.endDate" ng-disabled="false">
	                        </div>
						</div>
						
	                    <div class="form-group col-md-12">
	                        <label class="control-label col-md-3">Lot Size</label>
	                        <div class="col-md-9">
	                            <input type="text" class="form-control input-medium" ng-model="security.lotSize" ng-disabled="false">
	                        </div>
                    	</div>
	                    <div class="form-group col-md-12">
	                        <label class="control-label col-md-3">Price Base</label>
	                        <div class="col-md-9">
	                            <input type="text" class="form-control input-medium" ng-model="security.priceBase"  ng-disabled="false">
	                        </div>
                        </div>
                        
	                    <div class="form-group col-md-12">
	                        <label class="control-label col-md-3">Issuer Type</label>
	                        <div class="col-md-9">
	                            <input type="text" class="form-control input-medium"ng-model="security.interestRate" ng-disabled="false">
	                        </div>
						</div>
          	  	</div>
          	  		
          	  	</div>	
        </form>
           </div>
            <div class="row">
                <div class="form-actions">
                    <div class="col-md-offset-5 col-md-7">
                        <button type="submit" class="btn green" ng-click="saveSecurity(security)">Save</button>
                        <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
                <!--/form-actions-->
            </div>
            <!--</div> row-->
        </div>
    </div>
    <!-- END CHART PORTLET-->
</div>