<div class="row" ng-controller="TradeProposalInfoController">
    <div class="calculation col-md-8">
        <div class="portlet light bordered">
            <div class="row">
                <div class="col-md-12" >
                    <label class="control-label">Comments</label>
                    <textarea class="form-control" style="height: 28px;font-size: 11px;"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" >
                    <label class="control-label">Product Family</label>
                    <ui-select ng-model="TradeProposalInfo.ProductFamily.selected" ng-change="TradeProposalInfo.filterProduct('ProductFamily', TradeProposalInfo.ProductFamily.selected)" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Product Family">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="ProductFamily in TradeProposalInfo.ProductFamilies | filter: {name: $select.search}">
                            <div ng-bind-html="ProductFamily.name | highlight: $select.search"></div>
                            <small>
                                <span ng-bind-html="''+ProductFamily.description | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-4" >
                    <label class="control-label">Product Group</label>
                    <ui-select ng-model="TradeProposalInfo.ProductGroup.selected" ng-change="TradeProposalInfo.filterProduct('ProductGroup', TradeProposalInfo.ProductGroup.selected)" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Product Group">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="ProductGroup in TradeProposalInfo.ProductGroups | filter: {name: $select.search}">
                            <div ng-bind-html="ProductGroup.name | highlight: $select.search"></div>
                            <small>
                                <span ng-bind-html="''+ProductGroup.description | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-4" >
                    <label class="control-label">Product Type</label>
                    <ui-select ng-model="TradeProposalInfo.ProductType.selected" ng-change="TradeProposalInfo.filterProduct('ProductType',TradeProposalInfo.ProductType.selected)" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Product Type">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="ProductType in TradeProposalInfo.ProductTypes | filter: {name: $select.search}">
                            <div ng-bind-html="ProductType.name | highlight: $select.search"></div>
                            <small>
                                <span ng-bind-html="''+ProductType.description | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row" ng-if="TradeProposalInfo.ProductGroup.selected.name == 'FX_DELIVERABLE'">
                <div class="col-md-4" >
                    <label class="control-label">Strategy ID</label>
                    <input type="text" class="form-control input-medium" style="height: 28px;
                    font-size: 11px;" placeholder="" ng-model="TradeProposalInfo.StrategyID">
                </div>
                <div class="col-md-4" >
                    <label class="control-label">Strategy</label>
                    <ui-select ng-model="TradeProposalInfo.Strategy.selected" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Strategy">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="Strategy in TradeProposalInfo.Strategies | filter: {name: $select.search}">
                            <div ng-bind-html="Strategy.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-4" >
                    <label class="control-label">Principal</label>
                    <ui-select ng-model="TradeProposalInfo.legalEntityPO.selected" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Principal">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="legalEntityPO in TradeProposalInfo.legalEntitiesPO | filter: {name: $select.search}">
                            <div ng-bind-html="legalEntityPO.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row" ng-if="TradeProposalInfo.ProductGroup.selected.name == 'FX_DELIVERABLE'">
                <div class="col-md-3">
                    <label class="control-label">Pay Currency</label>
                    <ui-select ng-model="TradeProposalInfo.PayCurrency.selected" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Currency">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="PayCurrency in TradeProposalInfo.PayCurrencyList | filter: $select.search">
                            <div ng-bind-html="PayCurrency.name | highlight: $select.search"></div>
                            <small ng-bind-html="PayCurrency.key | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-1">
                    <div class="btn-group margin-top-10">
                        <button class="btn btn-icon-only blue dropdown-toggle" ng-click="exchangeCurrency()" uib-popover="exchange currency" popover-trigger="mouseenter" style="position: absolute;top: 0px;left: 10px;z-index: 999;">
                            <i class="fa fa-exchange"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Receive Currency</label>
                    <ui-select ng-model="TradeProposalInfo.ReceiveCurrency.selected" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Currency">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="ReceiveCurrency in TradeProposalInfo.ReceivecurrencyList | filter: $select.search">
                            <div ng-bind-html="ReceiveCurrency.name | highlight: $select.search"></div>
                            <small ng-bind-html="ReceiveCurrency.key | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-offset-1 col-md-4">
                    <label class="control-label">Settlement Date</label>
                    <div class="input-group">
                        <input placeholder="Settlement Date" type="text" class="form-control" uib-datepicker-popup ng-model="TradeProposalInfo.settlementDate"
                               is-open="TradeProposalInfo.settlementPopup.opened" datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" ng-change="TradeProposalInfo.dateChange(this)" style="height: 28px!important; font-size: 11px;" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="TradeProposalInfo.openDatePicker('settlement')" style="height: 28px!important;">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" ng-if="TradeProposalInfo.ProductGroup.selected.name == 'FX_DELIVERABLE'
            && TradeProposalInfo.Strategy.selected.key == 'client_market_trade'">
                <div class="col-md-12">
                    <div class="portlet box blue-soft">
                        <div class="portlet-title">
                            <div class="caption" style="font-size: 13px !important;">
                                <i class="fa fa-comments"></i>Client Trade</div>
                        </div>
                        <div class="portlet-body" style="padding-bottom: 0px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn blue-soft" type="button" style="height: 28px;">FX Rate</button>
                                                    </span>
                                        <input type="text" class="form-control input-xsmall collateral-money"
                                               ng-model="TradeProposalInfo.ClientTradeFxRate" ui-number-mask="5"
                                               style="height: 28px;">
                                        <strong class="help-inline"  ng-bind="TradeProposalInfo.PayCurrency.selected.name + ' = 1'"></strong>
                                        <strong class="help-inline" ng-bind="TradeProposalInfo.ReceiveCurrency.selected.name"></strong>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-hover" style="margin-bottom: 0px;">
                                    <thead>
                                    <tr>
                                        <th style="font-size: 11px !important;"> Client ID </th>
                                        <th style="font-size: 11px !important;"> Client </th>
                                        <th style="font-size: 11px !important;"> Client Sell (USD)</th>
                                        <th style="font-size: 11px !important;"> Client Buy (EUR)</th>
                                        <th style="font-size: 11px !important;"></th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-xs btn-primary" ng-click="addLegaLEntityClient()">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </button>
                                                </span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr ng-repeat="client in TradeProposalInfo.clients">
                                        <td style="font-size: 11px;" ng-bind="client.ClientID"></td>
                                        <td>
                                            <ui-select ng-model="client.legalEntityClient.selected"
                                                       style="font-size: 11px;width: 100%;"
                                                       theme="select2">
                                                <ui-select-match placeholder="Select Client">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="legalEntityClient in client.legalEntitiesClient | filter: {name: $select.search}">
                                                    <div ng-bind-html="legalEntityClient.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control collateral-money input-md" style="height: 28px;" placeholder="" ng-model="client.ClientSell" ui-number-mask="2">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control collateral-money input-md" style="height: 28px;" placeholder="" ng-model="client.ClientBuy" ui-number-mask="2">
                                        </td>
                                        <td>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-xs btn-danger" ng-click="removeLegalEntityClient($index)">
                                                    <i class="glyphicon glyphicon-minus"></i>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="TradeProposalInfo.ProductGroup.selected.name == 'FX_DELIVERABLE'">
                <div class="col-md-12">
                    <div class="portlet box yellow-soft">
                        <div class="portlet-title">
                            <div class="caption" style="font-size: 13px !important;">
                                <i class="fa fa-comments"></i>Market Trade</div>
                        </div>
                        <div class="portlet-body" style="display: block; padding-bottom: 0px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn yellow-soft" type="button" style="height: 28px;">FX Rate</button>
                                                    </span>
                                                    <input type="text" class="form-control input-xsmall collateral-money"
                                                           ng-model="TradeProposalInfo.BTBHedgeFxRate" ui-number-mask="5"
                                                           style="height: 28px;">
                                                    <strong class="help-inline"  ng-bind="TradeProposalInfo.PayCurrency.selected.name + ' = 1'"></strong>
                                                    <strong class="help-inline" ng-bind="TradeProposalInfo.ReceiveCurrency.selected.name"></strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th style="font-size: 11px !important;"> Trade ID </th>
                                        <th style="font-size: 11px !important;"> CounterParty </th>
                                        <th style="font-size: 11px !important;"> We Sell (USD)</th>
                                        <th style="font-size: 11px !important;"> We Buy (EUR)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="font-size: 11px;" ng-bind="TradeProposalInfo.CounterParty.MarketTradeID"></td>
                                        <td>
                                            <ui-select ng-model="TradeProposalInfo.CounterParty.legalEntityCounterParty.selected"
                                                       style="font-size: 11px;width: 100%;"
                                                       theme="select2" style="display: block;">
                                                <ui-select-match placeholder="Select CounterParty">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="legalEntityCounterParty in TradeProposalInfo.CounterParty.legalEntitiesCounterParty | filter: {name: $select.search}">
                                                    <div ng-bind-html="legalEntityCounterParty.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control collateral-money input-md" style="height: 28px;" placeholder="" ng-model="TradeProposalInfo.CounterParty.WeSell" ui-number-mask="2">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control collateral-money input-md" style="height: 28px;" placeholder="" ng-model="TradeProposalInfo.CounterParty.WeBuy" ui-number-mask="2">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="TradeProposalInfo.ProductType.selected.key == 'IRD_IRS'">
                <div class="col-md-3">
                    <label class="control-label">Trade Type</label>
                    <ui-select ng-model="TradeProposalInfo.TradeType.selected" name="swap-trade-type" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Trade Type">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices
                                repeat="TradeType in TradeProposalInfo.TradeTypes | filter: $select.search">
                            <div ng-bind-html="TradeType.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Trade Subtype</label>
                    <ui-select ng-model="TradeProposalInfo.TradeSubType.selected" name="swap-trade-type" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Trade SubType">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices
                                repeat="TradeSubType in TradeProposalInfo.TradeSubTypes | filter: $select.search">
                            <div ng-bind-html="TradeSubtype.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3" >
                    <label class="control-label">Notional</label>
                    <input type="text" class="form-control collateral-money input-small" style="height: 28px;
                    font-size: 11px;" placeholder="" ng-model="TradeProposalInfo.Notional" ui-number-mask="0">
                </div>
                <div class="col-md-3">
                    <label class="control-label">Currency</label>
                    <ui-select ng-model="TradeProposalInfo.currency.selected" id="swap-trade-currency" theme="select2" style="display: block;">
                        <ui-select-match placeholder="Select Currency">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="currency in TradeProposalInfo.currencyList | filter: $select.search">
                            <div ng-bind-html="currency.name | highlight: $select.search"></div>
                            <small ng-bind-html="currency.key | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row" ng-if="TradeProposalInfo.ProductType.selected.key == 'IRD_IRS'">
                <div class="col-md-4">
                    <label class="control-label">Effective Date</label>
                    <div class="input-group">
                        <input placeholder="Effective Date" type="text" class="form-control" uib-datepicker-popup ng-model="TradeProposalInfo.effectiveDate"
                               is-open="TradeProposalInfo.effectivePopup.opened" datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" ng-change="TradeProposalInfo.dateChange(this)" style="height: 30px!important; font-size: 11px;" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="TradeProposalInfo.openDatePicker('effective')" style="height: 30px!important;">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Termination Date</label>
                    <div class="input-group">
                        <input placeholder="Termination Date" type="text" class="form-control" uib-datepicker-popup ng-model="TradeProposalInfo.terminationDate"
                               is-open="TradeProposalInfo.terminationPopup.opened" datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" ng-change="TradeProposalInfo.dateChange(this)" style="height: 30px!important; font-size: 11px;" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="TradeProposalInfo.openDatePicker('termination')" style="height: 30px!important;">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <label class="control-label"></label>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDatePicker()"
                                uib-popover="Refresh Calculation" popover-trigger="mouseenter"
                                style="height: 30px!important;">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDatePicker()"
                                uib-popover="Save Trade" popover-trigger="mouseenter" style="height: 30px!important;">
                            <i class="glyphicon glyphicon-save"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="row" ng-if="TradeProposalInfo.ProductType.selected.key == 'IRD_IRS'" style="margin-top: 10px; margin-left: 5px;">
                <div class="portlet-title col-md-6">
                    <div class="caption">
                        <img class="action-button-icon-sm" src="assets/pages/icons/swap/pay-leg.png">
                        <span class="caption-subject font-dark sbold uppercase" style="font-size: 12px;">Pay leg</span>
                    </div>
                    <form class="form-vertical" role="form" id="swap-pay-leg">
                        <div class="row" style="">
                            <label class="control-label">Leg Type</label>
                            <select name="payLegType" id="payLegType" ng-model="TradeProposalInfo.PayLegType" ng-change="TradeProposalInfo.filterLeg('pay')" class="form-control input-medium" style="height: 28px; font-size: 11px;">
                                <option ng-repeat="LegType in TradeProposalInfo.LegTypes" value="{{LegType}}">{{LegType}}</option>
                            </select>
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.PayLegType == 'FLOATING'">
                            <label class="control-label">Index</label>
                            <ui-select ng-model="TradeProposalInfo.SupportedIndex.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="SupportedIndex in TradeProposalInfo.SupportedIndexes | filter: {name: $select.search}">
                                    <div ng-bind-html="SupportedIndex.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.PayLegType == 'FLOATING'">
                            <label class="control-label">Tenor</label>
                            <ui-select ng-model="TradeProposalInfo.PayTenor.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="PayTenor in TradeProposalInfo.PayTenors | filter: {name: $select.search}">
                                    <div ng-bind-html="PayTenor.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.PayLegType == 'FLOATING'">
                            <label class="control-label">Spread</label>
                            <input type="text" class="form-control collateral-money input-medium" style="height: 28px; font-size: 11px;" placeholder="" ng-model="TradeProposalInfo.MarginCallDetail.marginCall.marginCallElementsByLiabilityType.CSA.marginCallCalculations.ownCalculatedExposure" ui-number-mask="2">
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.PayLegType == 'FIXED'">
                            <label class="control-label">Rate(%)</label>
                            <input type="text" class="form-control input-medium" style="height: 28px; font-size: 11px;" placeholder="" ng-model="TradeProposalInfo.Rate">
                        </div>
                        <div class="row">
                            <label class="control-label">Basis</label>
                            <ui-select ng-model="TradeProposalInfo.PayBasisCalculationConvention.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="PayBasisCalculationConvention in TradeProposalInfo.BasisCalculationConventions | filter: {name: $select.search}">
                                    <div ng-bind-html="PayBasisCalculationConvention.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Convention</label>
                            <ui-select ng-model="TradeProposalInfo.PayConvention.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="PayConvention in TradeProposalInfo.PayConventions | filter: {name: $select.search}">
                                    <div ng-bind-html="PayConvention.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.PayLegType == 'FLOATING'">
                            <label class="control-label">Compounding Method</label>
                            <ui-select ng-model="TradeProposalInfo.PayCompoundingMethod.selected"  theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="PayCompoundingMethod in TradeProposalInfo.PayCompoundingMethods | filter: {name: $select.search, description: $select.search}">
                                    <div ng-bind-html="PayCompoundingMethod.name | highlight: $select.search"></div>
                                    <small>Description:
                                        <span ng-bind-html="''+PayCompoundingMethod.description | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Stub</label>
                            <ui-select ng-model="TradeProposalInfo.PayStubType.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="PayStubType in TradeProposalInfo.PayStubTypes | filter: {name: $select.search}">
                                    <div ng-bind-html="PayStubType.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Payment Frequency</label>
                            <ui-select ng-model="TradeProposalInfo.PayPaymentFrequency.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="PayPaymentFrequency in TradeProposalInfo.PayPaymentFrequencies | filter: {name: $select.search}">
                                    <div ng-bind-html="PayPaymentFrequency.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Roll Frequency</label>
                            <ui-select ng-model="TradeProposalInfo.PayRollFrequency.selected"  theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="PayRollFrequency in TradeProposalInfo.PayRollFrequencies | filter: {name: $select.search}">
                                    <div ng-bind-html="PayRollFrequency.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Roll Convention</label>
                            <ui-select ng-model="TradeProposalInfo.PayRollConvention.selected"  theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="PayRollConvention in TradeProposalInfo.PayRollConventions | filter: {name: $select.search}">
                                    <div ng-bind-html="PayRollConvention.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="caption">
                        <img class="action-button-icon-sm" src="assets/pages/icons/swap/receive-leg.png">
                        <span class="caption-subject font-dark sbold uppercase" style="font-size: 12px;">Receive leg</span>
                    </div>
                    <form class="form-vertical" role="form" id="swap-receive-leg">
                        <div class="row" style="">
                            <label class="control-label">Leg Type</label>
                                <select name="receiveyLegType" id="receiveyLegType" ng-model="TradeProposalInfo.ReceiveLegType" ng-change="TradeProposalInfo.filterLeg('receive')" class="form-control input-medium" style="height: 28px; font-size: 11px;">
                                    <option ng-repeat="LegType in TradeProposalInfo.LegTypes" value="{{LegType}}">{{LegType}}</option>
                                </select>
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.ReceiveLegType == 'FLOATING'">
                            <label class="control-label">Tenor</label>
                            <ui-select ng-model="TradeProposalInfo.ReceiveTenor.selected"  theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="ReceiveTenor in TradeProposalInfo.ReceiveTenors | filter: {name: $select.search}">
                                    <div ng-bind-html="ReceiveTenor.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.ReceiveLegType == 'FLOATING'">
                            <label class="control-label">Spread</label>
                            <input type="text" class="form-control collateral-money input-medium" style="height: 28px; font-size: 11px;" placeholder="" ng-model="TradeProposalInfo.ReceiveSpread" ui-number-mask="2">
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.ReceiveLegType == 'FIXED'">
                            <label class="control-label">Rate(%)</label>
                            <input type="text" class="form-control collateral-money input-medium" style="height: 28px; font-size: 11px;" placeholder="" ng-model="TradeProposalInfo.ReceiveRate" ui-number-mask="2">
                        </div>
                        <div class="row">
                            <label class="control-label">Basis</label>
                            <ui-select ng-model="TradeProposalInfo.ReceiveBasisCalculationConvention.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="ReceiveBasisCalculationConvention in TradeProposalInfo.BasisCalculationConventions | filter: {name: $select.search}">
                                    <div ng-bind-html="ReceiveBasisCalculationConvention.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Convention</label>
                            <ui-select ng-model="TradeProposalInfo.ReceiveConvention.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="ReceiveConvention in TradeProposalInfo.ReceiveConventions | filter: {name: $select.search}">
                                    <div ng-bind-html="ReceiveConvention.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row" ng-if="TradeProposalInfo.ReceiveLegType == 'FLOATING'">
                            <label class="control-label">Compounding Method</label>
                            <ui-select ng-model="TradeProposalInfo.ReceiveCompoundingMethod.selected"  theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="ReceiveCompoundingMethod in TradeProposalInfo.ReceiveCompoundingMethods | filter: {name: $select.search, description: $select.search}">
                                    <div ng-bind-html="ReceiveCompoundingMethod.name | highlight: $select.search"></div>
                                    <small>Description:
                                        <span ng-bind-html="''+ReceiveCompoundingMethod.description | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Stub</label>
                            <ui-select ng-model="TradeProposalInfo.ReceiveStubType.selected" theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="ReceiveStubType in TradeProposalInfo.ReceiveStubTypes | filter: {name: $select.search}">
                                    <div ng-bind-html="ReceiveStubType.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Payment Frequency</label>
                            <ui-select ng-model="TradeProposalInfo.ReceivePaymentFrequency.selected"  theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="ReceivePaymentFrequency in TradeProposalInfo.ReceivePaymentFrequencies | filter: {name: $select.search}">
                                    <div ng-bind-html="ReceivePaymentFrequency.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Roll Frequency</label>
                            <ui-select ng-model="TradeProposalInfo.ReceiveRollFrequency"  theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="ReceiveRollFrequency in TradeProposalInfo.ReceiveRollFrequencies | filter: {name: $select.search}">
                                    <div ng-bind-html="ReceiveRollFrequency.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="row">
                            <label class="control-label">Roll Convention</label>
                            <ui-select ng-model="TradeProposalInfo.ReceiveRollConvention.selected"  theme="select2" style="display: block;" class="input-medium">
                                <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="ReceiveRollConvention in TradeProposalInfo.ReceiveRollConventions | filter: {name: $select.search, description: $select.search}">
                                    <div ng-bind-html="ReceiveRollConvention.name | highlight: $select.search"></div>
                                    <small>Description:
                                        <span ng-bind-html="''+ReceiveRollConvention.description | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light bordered" style="margin-bottom:0;">
            <div class="row">
                <div class="note note-info">
                    <strong class="block">Pricing</strong>
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <tbody>
                        <tr>
                            <td class="highlight">
                                <div class="success"></div>
                                <a> Base Currency </a>
                            </td>
                            <td> EUR </td>
                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="info"> </div>
                                <a > Spot Rate </a>
                            </td>
                            <td> 1.1021 </td>
                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="success"> </div>
                                <a > Risk Free FW Rate</a>
                            </td>
                            <td> 1.145 </td>
                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="success"> </div>
                                <a > Main Trade NPV </a>
                            </td>
                            <td> -1,564.32 </td>
                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="info"> </div>
                                <a> Hedge NPV </a>
                            </td>
                            <td> 15,234.450 </td>
                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="warning"> </div>
                                <a> Gross P&L</a>
                            </td>
                            <td> +14,000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
