<div class="row" ng-controller="ContactInfoController">
    <div class="col-md-12">
        <!-- BEGIN CHART PORTLET-->
        <div class="portlet light bordered">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <button class="btn green" ng-click="addRow()"> Add New Contact Person
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <br>

                <input ng-model='filterValue'/><button ng-click='filter()'>Filter</button>
                <div ui-grid="gridContactPersonOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-edit
                     class="grid" style="height: 200px;"></div>
                <uib-pagination boundary-links="true" total-items="gridApi.pagination.getTotalPages(gridApi)" ng-model="gridApi.pagination.getPage()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                <p>Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}</p>
                <button type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">
                    previous page
                </button>
                <button type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">
                    next page
                </button>
                <!--pre>{{$parent.legalEntity.contactPersonList | json}}</pre-->

            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END CHART PORTLET-->
        <script type="text/ng-template" id="edit-modal-contact.html">
            <div class="modal-header">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>
                        <span class="caption-subject font-dark sbold uppercase">Personal Data</span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 portlet light bordered">
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Linkedin Profile URL</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.linkedInProfileUrl">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.lastName"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.firstName"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.title"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <select class="form-control input-medium">
                                <option value="">Male</option>
                                <option value="">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Date of Birth</label>
                            <input type="text" class="form-control input-medium" placeholder="dd/mm/yyyy"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.address"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.city"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">State</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.state"> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Zip Code</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.zipCode"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <select class="form-control input-medium">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.email"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.phone"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Telex</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.telex"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Fax</label>
                            <input type="text" class="form-control input-medium" ng-model="entity.fax"> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Comments</label>
                            <textarea class="form-control input-medium" rows="3" ng-model="entity.comments"></textarea> </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn green" type="button" ng-click="save()">Save</button>
                <button class="btn " type="button" ng-click="$close()">Cancel</button>
            </div>
        </script> <!-- BEGIN CHART PORTLET-->
        <!-- END CHART PORTLET-->
    </div>
</div>
