<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" id="le-general-data">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">Internal ID</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" placeholder="Enter Text"
                                           id="legal-entity-internal-id" ng-model="legalEntity.id" ng-disabled="isEditLegal===true">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">Entity Name</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-bank"></i>
                                                        </span>
                                        <input type="text" class="form-control input-medium" placeholder="Enter text"
                                               id="legal-entity-name" ng-model="legalEntity.name"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">LEI</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" placeholder="Enter text"
                                           name="lei" id="legal-entity-lei" ng-model="legalEntity.LEI">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">BIC</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" placeholder="Enter text"
                                           name="bic" id="legal-entity-bic" ng-model="legalEntity.BIC">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">Other Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-medium" placeholder="Enter text"
                                           name="other_id" id="legal-entity-other-id" ng-model="legalEntity.otherName">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">Is a Branch</label>
                                <div class="col-md-9">
                                    <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No" ng-model="legalEntity.isBranch">{{legalEntity.isBranch}}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">Mother Legal Entity:</label>
                                <div class="col-md-9">
                                    <select class="form-control input-medium">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-md-3 control-label">Country</label>
                                <div class="col-md-9">
                                    <ui-select ng-model="country.selected" theme="bootstrap" class="input-medium">
                                        <ui-select-match placeholder="Select Country...">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="country in countries | filter: $select.search">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            <small ng-bind-html="country.code | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <!--END </div> row-->
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">Holidays</label>
                                <div class="col-md-9">
                                    <select multiple="multiple" id="holidays-select" name="holidays-select[]">
                                        <option value='elem_1'>elem 1</option>
                                        <option value='elem_2'>elem 2</option>
                                        <option value='elem_3'>elem 3</option>
                                        <option value='elem_4'>elem 4</option>
                                        <option value='elem_100'>elem 100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-md-3">Rol</label>
                                <div class="col-md-9">
                                    <select multiple class="form-control input-medium">
                                        <option>Counterparty</option>
                                        <option>PO</option>
                                        <option>Issuer</option>
                                        <option>CCP</option>
                                    </select>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--END </DIV> ROW-->
                    </div>
                    <!--</div> form-body-->
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    //ComponentsSelect2.init(); // init todo page
    //ComponentsBootstrapSelect.init(); // init todo page
    $('#holidays-select').multiSelect()
</script>