<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">General Data</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Internal ID</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-medium" placeholder="417828731" disabled> </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Entity Name</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-bank"></i>
                                                        </span>
                                    <input type="text" class="form-control" placeholder="Entity Name"> </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">LEI</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="Enter text" name="lei" id="lei">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">BIC</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="Enter text" name="bic" id="bic">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Other ID</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="Enter text" name="other_id" id="other_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Is a Branch</label>
                            <div class="col-md-9">
                                <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Mother Legal Entity:</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Country:</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Multiple Select</label>
                            <div class="col-md-9">
                                <select multiple class="form-control">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>