<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" id="le-regulatory">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Multiplier for RWA Capital Charge</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <input type="text" name="demo1" class="form-control" ng-model="legalEntity.rwaMultiplier"></div>
                                <span class="help-block"> example with decimal steps </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Multiplier For Leverage Ratio Capital Charge</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <input type="text" name="demo1" class="form-control" ng-model="legalEntity.leverageRatioMultiplier"></div>
                                <span class="help-block"> example with decimal steps </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Regulatory Status</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <select class="form-control input-medium"
                                            id="legal-entity-regulatories_status" name="legal-entity-regulatories_status[]"
                                            ng-options="regulatory_status for regulatory_status in regulatories_status" ng-model="legalEntity.regulatory" >
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>