<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Regulatory Settings</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" id="le-regulatory">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Multiplier for RWA Capital Charge</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <input type="text" value="55" name="demo1" class="form-control"> </div>
                                <span class="help-block"> example with decimal steps </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Multiplier For Leveral Ratio Capital Charge</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <input type="text" value="55" name="demo1" class="form-control"> </div>
                                <span class="help-block"> example with decimal steps </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Regulatory Status</label>
                            <div class="col-md-9">
                                <div class="input-inline input-medium">
                                    <select class="form-control">
                                        <option>NFC</option>
                                        <option>NFC_PLUS</option>
                                        <option>CATEGORY_1</option>
                                        <option>CATEGORY_2</option>
                                        <option>CATEGORY_3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>