<div class="portlet light" ng-controller="LegalEntityController">
    <div class="row portlet light bordered" id="legal-entity-table">
        <div  class="portlet-title">
            <div class="caption" col-md-3>
                <i class="fa fa-bank font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze"> Legal Entities</span>
                <span class="caption-helper">Lists</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="" class="fullscreen"> </a>
            </div>
            <div class="col-md-3">
                <div class="btn-group">
                    <button class="btn sbold green" ng-click="addLegalEntity('legal-entity-tabs')"> Add New
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">

            <input ng-model='filterValue'/><button ng-click='filter()'>Filter</button>
                <div ui-grid="gridLegalEntityOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-edit
                     class="grid" style="height: 400px;"></div>
            <!--div class="table-toolbar">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group pull-right">
                            <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-print"></i> Print </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <table  datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="table table-striped table-bordered table-hover table-checkable order-column">
                <thead>
                <tr>
                    <th> ID </th>
                    <th> Entity Name </th>
                    <th> isBranch </th>
                    <th> LEI </th>
                    <th> BIC </th>
                    <th> Rols </th>
                    <th> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd gradeX" ng-repeat="legalEntity in legalEntities">
                    <td>{{legalEntity.id}}</td>
                    <td>{{legalEntity.name}}</td>
                    <td>{{legalEntity.isBranch?'Yes':'No'}}</td>
                    <td>{{legalEntity.LEI}}</td>
                    <td>{{legalEntity.BIC}}</td>
                    <td>{{legalEntity.rolList.join(", ")}}</td>

                    <td>
                        <button type="button" ng-click="editLegalEntity('legal-entity-tabs',$index)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                        <button type="button"  ng-click="deleteLegalEntity($index)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                </tbody>
            </table-->

        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <!-- END ROW -->

    <div class="row" id="legal-entity-tabs">
        <!-- BEGIN CHART PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bank font-dark font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> {{legalEntity.name}} </span>
                    <span class="caption-helper"> {{legalEntity.id}} </span>

                </div>
                <div class="tools">
                    <a href="javascript:;" class="expand"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="javascript:;" class="reload"> </a>
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body portlet-collapsed" ng-controller="TabsLegalEntityController">
                <uib-tabset active="active">
                    <uib-tab index="$index + 1" ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
                        <uib-tab-heading>
                            <i class="{{tab.icon}}"></i>{{tab.title}}
                        </uib-tab-heading>
                        <div ng-include=tab.templateUrl></div>
                    </uib-tab>
                </uib-tabset>
                <div class="row">
                    <div class="form-actions">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="submit" class="btn green" ng-click="saveLegalEntity(legalEntity)">Save</button>
                            <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                    <!--/form-actions-->
                </div>
                <!--</div> row-->
            </div>
        </div>
        <!-- END CHART PORTLET-->
    </div>
    <!-- END ROW -->
</div>