<div class="portlet light"  ng-controller="SearchProposalController">
    <div class="row portlet light bordered" id="Proposal-table">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-graph font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze">Proposal</span>
                <span class="caption-helper">Lists</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="" class="fullscreen"> </a>
            </div>
            <div class="col-md-3">
                <div class="btn-group">
                    <button class="btn sbold green" ng-click="addProposal()"> Add New
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
            <div class="row">
                <div ui-grid="gridProposalOptions" ui-grid-exporter ui-grid-auto-resize
                     ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                     class="grid grid-collateral"></div>
            </div>

        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <!-- END ROW -->
</div>
