<div ng-controller="BACSAMarginsController" class="portlet light bordered">

    <script type="text/ng-template" id="modalConfigIndependentAmount.html">
        <div class="modal-header">
            <h4 class="modal-title">Independent Amount</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
        </div>
    </script>

    <script type="text/ng-template" id="modalConfigBasedOnRatings.html">
        <div class="modal-header">
            <h4 class="modal-title">Configuration Based on Ratings</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
        </div>
    </script>

    <div class="portlet-body form">
        <form class="form-horizontal" role="form" id="le-bilateral-ag-left-side">
            <div class="form-body row">
                <!-- FORM BODY BEGIN -->

                <!-- FORM SECTION LEFT BEGIN -->
                <div class="col-md-6">
                    <h3>PARTY A: {{ LegalEntity.BilateralAgreements.partyA.name || 'Demo PartyA' }}</h3>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Party A pays collateral?</label>
                        <div class="col-md-9">
                            <input bs-switch id="le-bilateral-ag-payCollateral"
                                   ng-model="BACSA.partyA.LegEnforceableAgreement" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Threshold</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-medium" id="le-bilateral-ag-threshold-partyA"
                                   ng-model="BACSA.partyA.threshold"
                                   ng-disabled="false">
                        </div>
                        <div class="col-md-3">
                            <ui-select id="le-bilateral-ag-base-csa-partyA-threshold-baseCurrency"
                                       ng-model="BACSA.partyA.thresholdBaseCurrency"
                                       theme="select2"
                                       class="input-small">
                                <ui-select-match
                                        placeholder="Select Currency">
                                    {{$select.selected.id}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="currency in BilateralAgreements.staticData.currencies | filter: $select.search track by currency.id">
                                    <div ng-bind-html="currency.codigo | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Minimum Transfer Amount</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-medium"
                                   id="le-bilateral-ag-transfAmount-partyA"
                                   ng-model="BACSA.partyA.minTransfAmount"
                                   ng-disabled="false">
                        </div>
                        <div class="col-md-3">
                            <ui-select id="le-bilateral-ag-csa-partyA-transfAmount-baseCurrency"
                                       ng-model="BACSA.partyA.transfAmountBaseCurrency"
                                       theme="select2"
                                       class="input-small">
                                <ui-select-match
                                        placeholder="Select Currency">
                                    {{$select.selected.id}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="currency in BilateralAgreements.staticData.currencies | filter: $select.search track by currency.id">
                                    <div ng-bind-html="currency.codigo | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Independent Amount</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BACSA.partyA.independentAmount" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                            <button type="button" class="btn btn-info" ng-click="BACSA.modalConfigIndAmount()" title="Configure">
                                <i class="fa fa-cog"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Rounding</label>
                        <div class="col-md-4">
                            <select class="form-control input-small"
                                    ng-model="BACSA.partyA.roundingType">
                                <option value="">-- SELECT ROUNDING --</option>
                                <option value="NEAREST">NEAREST</option>
                                <option value="UP">UP</option>
                                <option value="DOWN">DOWN</option>
                                <option value="NONE">NONE</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control input-medium"
                                   id="le-bilateral-ag-partyA-rounding-amount"
                                   ng-model="BACSA.partyA.roundingAmount"
                                   ng-disabled="false">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Configuration based on ratings</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BACSA.partyA.ratings" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                            <button type="button" class="btn btn-info" ng-click="BACSA.modalConfigBasedOnRatings()" title="Configure">
                                <i class="fa fa-cog"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Rehipotecation</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BACSA.partyA.rehipotecation" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                        </div>
                    </div>

                </div>
                <!-- FORM SECTION LEFT END -->

                <!-- FORM SECTION RIGHT BEGIN -->
                <div class="col-md-6">
                    <h3>PARTY B: {{ LegalEntity.BilateralAgreements.partyB.name || 'Demo PartyB' }}</h3>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Party B pays collateral?</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BACSA.partyB.LegEnforceableAgreement" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Threshold</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-medium" id="le-bilateral-ag-threshold-partyB"
                                   ng-model="BACSA.partyB.threshold"
                                   ng-disabled="false">
                        </div>
                        <div class="col-md-3">
                            <ui-select id="le-bilateral-ag-csa-partyB-threshold-baseCurrency"
                                       ng-model="BACSA.partyB.threshold"
                                       theme="select2"
                                       class="input-small">
                                <ui-select-match
                                        placeholder="Select Currency">
                                    {{$select.selected.id}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="currency in BilateralAgreements.staticData.currencies | filter: $select.search track by currency.id">
                                    <div ng-bind-html="currency.codigo | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Minimum Transfer Amount</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-medium"
                                   id="le-bilateral-ag-transfAmount-partyB"
                                   ng-model="BACSA.partyB.minTransfAmount"
                                   ng-disabled="false">
                        </div>
                        <div class="col-md-3">
                            <ui-select id="le-bilateral-ag-csa-partyB-transfAmount-baseCurrency"
                                       ng-model="BACSA.partyB.transfAmountBaseCurrency"
                                       theme="select2"
                                       class="input-small">
                                <ui-select-match
                                        placeholder="Select Currency">
                                    {{$select.selected.id}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="currency in BilateralAgreements.staticData.currencies | filter: $select.search track by currency.id">
                                    <div ng-bind-html="currency.codigo | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Independent Amount</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BACSA.partyB.independentAmount" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                            <button type="button" class="btn btn-info" ng-click="BACSA.modalConfigIndAmount()" title="Configure">
                                <i class="fa fa-cog"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Rounding</label>
                        <div class="col-md-4">
                            <select class="form-control input-small"
                                    ng-model="BACSA.partyB.roundingType">
                                <option value="">-- SELECT ROUNDING --</option>
                                <option value="NEAREST">NEAREST</option>
                                <option value="UP">UP</option>
                                <option value="DOWN">DOWN</option>
                                <option value="NONE">NONE</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control input-medium"
                                   id="le-bilateral-ag-partyB-rounding-amount"
                                   ng-model="BACSA.partyB.roundingAmount"
                                   ng-disabled="false">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Configuration based on ratings</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BACSA.partyB.ratings" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                            <button type="button" class="btn btn-info" ng-click="BACSA.modalConfigBasedOnRatings()" title="Configure">
                                <i class="fa fa-cog"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Rehipotecation</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BACSA.partyB.rehipotecation" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                        </div>
                    </div>
                </div>
                <!-- FORM SECTION RIGHT END -->

                <!-- FORM BODY END -->
            </div>
        </form>
    </div>
</div>