<div class="portlet light" ng-controller="BoViewController">
    <div class="row portlet light bordered" >
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-desktop font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze"> Trade Status  </span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="" class="fullscreen"> </a>
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
            <div class="row">
                <div ui-grid="gridTradeStatusOptions" ui-grid-exporter ui-grid-auto-resize
                     ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                     class="grid grid-collateral-min"></div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <!-- END ROW -->
    <div class="row portlet light bordered" >
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-desktop font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze"> Cash-Flow View</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="" class="fullscreen"> </a>
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
            <div class="row">
                <div ui-grid="gridCashFlowViewOptions" ui-grid-exporter ui-grid-auto-resize
                     ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                     class="grid grid-collateral-min"></div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <!-- END ROW -->
</div>
