<div class="portlet light bordered" ng-controller="GroupPermissionController">
    <div class="portlet-title">
            <div class="caption font-green-sharp">
                <span class="caption-subject bold uppercase"> Permissions</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="slimScrollDiv">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Group</label>
                            <div class="col-md-9">

                                <ui-select ng-model="UserMgm.group.selected" theme="selectize" title="Choose a Group" class="input-large">
                                    <ui-select-match placeholder="Select or search a Group...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="group in UserMgm.groupList | filter: $select.search">
                                        <span ng-bind-html="group.name | highlight: $select.search"></span>
                                        <small ng-bind-html="group.code | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div ui-grid="gridGroupPermissionOptions" ui-grid-exporter
                             ui-grid-auto-resize
                             class="grid grid-collateral"></div>
                    </div>
                </div>

            </div>
        </div>
</div>