<div class="portlet light bordered" ng-controller="UsersGroupController">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <span class="caption-subject bold uppercase"> Assign users to groups</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-1">
                        <label class="control-label">Group</label>
                    </div>

                    <div class="col-md-4">
                        <ui-select ng-model="UsersGroup.selected" theme="select2" title="Choose a Group" class="input-large">
                            <ui-select-match placeholder="Select or search a Group...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="group in UsersGroups | filter: $select.search">
                                <span ng-bind-html="group.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn green" uib-popover="Refresh"
                                popover-trigger="mouseenter" ng-click="refresh()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-lg-offset-2">
                <multiselect-dual multiselect-elements="usersGroup" class="users_group"></multiselect-dual>
            </div>
        </div>
    </div>
</div>