<div class="portlet light bordered" ng-controller="UsersController">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <span class="caption-subject bold uppercase"> Users</span>
        </div>
    </div>
    <div class="portlet-body">
        <form name="userForm">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Login</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-medium" placeholder="Enter User Login" name="login"
                               ng-model="User.login"
                               data-ng-class='{ error: userForm.login.$invalid && !userForm.$pristine }' required>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-medium" placeholder="Enter Firstame" name="firstName"
                               ng-model="User.firstName"
                               data-ng-class='{ error: userForm.firstName.$invalid && !userForm.$pristine }' required>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Last Name</label>
                    <div class="col-md-9">
                        <input class="form-control input-medium" placeholder="Enter Lastname" name="lastName"
                               ng-model="User.lastName"
                               data-ng-class='{ error: userForm.lastName.$invalid && !userForm.$pristine }' required>


                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Email Address</label>
                    <div class="col-md-9">
                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                            <input type="email" class="form-control input-medium" name="email"
                                   placeholder="Email Address" ng-model="User.email"
                                   data-ng-class='{ error: userForm.email.$invalid && !userForm.$pristine, warning: exampleForm.email.$error.email }' required>

                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <div class="input-group">
                                    <span class="input-group-addon">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                            <input type="password" class="form-control input-medium" name="password"
                                   placeholder="Password" ng-model="User.password"
                                   data-ng-class='{ error: userForm.password.$invalid && !userForm.$pristine }' required>

                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-offset-5 col-md-7">
                    <div class="btn-group">
                        <button class="btn green ng-binding" data-ng-disabled='!userForm.$valid' ng-click="saveUser()">
                            Save
                        </button>
                    </div>
                    <button type="button" class="btn default" ng-click="clean()">
                        <i class="fa fa-eraser"></i>Clean
                    </button>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div ui-grid="gridUsersOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-edit
                     ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                     class="grid grid-collateral"></div>

            </div>
        </div>
    </div>
</div>