<div class="row" ng-controller="UserMessageController">
	<div class="row" ng-repeat="message in messagesList">
		<div class="col-md-6">
			<!-- BEGIN CHART PORTLET-->
<a href="#">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption" col-md-3>
						<i class="fa fa- font-dark font-green-haze"></i> 
						<span class="caption-subject bold uppercase font-green-haze">
						{{message.messageContentBasic}}
						</span>
					</div>

				</div>
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet-body">
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group">
							<a href="#">
									<i ng-class="!message.hasBeenRead ? 'fa-circle' : 'fa-circle-thin'" class="fa   "></i>
									</a>
									
							</div>
								{{message.messageContentExtendes}}
						</div>
					</div>
					<br>
					<!--uib-pagination boundary-links="true" total-items="gridApi.pagination.getTotalPages(gridApi)" ng-model="gridApi.pagination.getPage()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination-->
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
			</a>
		</div>
	</div>
</div>