<div class="portlet light" ng-controller="SecurityController">
    <div class="row portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-lock font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze"> Securities</span>
                <span class="caption-helper">Lists</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="" class="fullscreen"> </a>
            </div>
            <div class="col-md-3">
                <div class="btn-group">
                    <button class="btn sbold green"> Add New
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
            <div class="row">
                <div ui-grid="gridSecurityOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-edit
                     ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                     class="grid" style="height: 570px;"></div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <!-- END ROW -->
</div>
