<div ng-controller="BAMainController as BAMainCtrl" class="portlet light bordered">
    <div class="portlet-body form">
        <form class="form-horizontal" role="form" id="le-bilateral-ag-left-side">
            <div class="form-body row">
                <!-- FORM BODY BEGIN -->

                <!-- FORM SECTION LEFT BEGIN -->
                <div class="col-md-6">

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Contract Code</label>
                        <div class="col-md-9">

                            <input type="text" class="form-control input-medium" id="contract-code"
                                   ng-model="BAMainCtrl.contractCode"
                                   maxlength="20">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Principal</label>
                        <div class="col-md-9">
                            <ui-select id="legalEntityPrimary" ng-model="BAMainCtrl.legalEntityPrimary" theme="select2"
                                       class="input-medium">
                                <ui-select-match
                                        placeholder="Select or search a Legal Entity...">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="legalEntity in legalEntities | filter: $select.search track by legalEntity.id">
                                    <div ng-bind-html="legalEntity.name | highlight: $select.search"></div>
                                    <small>
                                        otherName: <span
                                            ng-bind-html="legalEntity.otherName | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Counterparty</label>
                        <div class="col-md-9">
                            <ui-select id="legalEntityCounterparty" ng-model="BAMainCtrl.legalEntityCounterparty"
                                       theme="select2" class="input-medium">
                                <ui-select-match
                                        placeholder="Select or search a Legal Entity...">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="legalEntity in legalEntities | filter: $select.search track by legalEntity.id">
                                    <div ng-bind-html="legalEntity.name | highlight: $select.search"></div>
                                    <small>
                                        otherName: <span
                                            ng-bind-html="legalEntity.otherName | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Base Currency</label>
                        <div class="col-md-9">
                            <ui-select id="le-bilateral-ag-base-currency" ng-model="BAMainCtrl.baseCurrency"
                                       theme="select2"
                                       class="input-medium">
                                <ui-select-match
                                        placeholder="Select or search a Currency...">
                                    {{$select.selected.id}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="currency in BilateralAgreements.staticData.currencies | filter: $select.search track by currency.id">
                                    <div ng-bind-html="currency.codigo | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Contract Type</label>
                        <div class="col-md-9">
                            <select id="le-bilateral-ag-contract-type" name="contract-type-select[]"
                                    class="form-control input-medium"
                                    ng-options="contractType.name for contractType in BilateralAgreements.staticData.contractType track by contractType.key"
                                    ng-model="BAMainCtrl.contractType">
                                <option value="">-- SELECT CONTRACT TYPE --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Is a legally enforceable agreement compliant to EBA
                            section 7, chapter 4
                            ?</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BAMainCtrl.callIssuanceAuto" type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="normal"
                                   ng-true-value="true" ng-false-value="false">
                        </div>
                    </div>


                    <h3>Messaging:</h3>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Call issuance</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-medium" id="le-bilateral-ag-call-issuance"
                                   ng-model="BAMainCtrl.callIssuance">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Auto Send Time</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-medium" id="le-bilateral-ag-auto-send-time"
                                   ng-model="BAMainCtrl.autoSendTime.iLocalMillis">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Auto Send Tol</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-medium" id="le-bilateral-ag-auto-send-x"
                                   ng-model="BAMainCtrl.autoSendTime.iChronology" ng-disabled="false">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Acacia Soft</label>
                        <div class="col-md-9">
                            <input bs-switch id="le-bilateral-ag-acasia-soft" ng-model="BAMainCtrl.bilateralAcasiaSoft"
                                   type="checkbox"
                                   switch-on-text="Yes" switch-off-text="No" switch-size="small"
                                   ng-true-value="true" ng-false-value="false">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Acacia Soft Ref</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-medium" id="le-bilateral-ag-acacia-soft-ref"
                                   ng-disabled="false">
                        </div>
                    </div>

                </div>
                <!-- FORM SECTION LEFT END -->

                <!-- FORM SECTION RIGHT BEGIN -->
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Call Frequency</label>
                        <div class="col-md-9">
                            <select class="form-control input-medium"
                                    ng-options="mcFreq.name for mcFreq in BilateralAgreements.staticData.marginFrequency track by mcFreq.key"
                                    ng-model="BAMainCtrl.callFrequency">
                                <option value="">-- Call Frequency --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12"
                         ng-if="BAMainCtrl.callFrequency.key == 'WEEKLY'">
                        <label class="control-label col-md-3">Call Day</label>
                        <div class="col-md-9">
                            <select class="form-control input-medium" ng-model="BAMainCtrl.callDay">
                                <option value="mon">Monday</option>
                                <option value="tue">Tuesday</option>
                                <option value="wed">Wednesday</option>
                                <option value="thu">Thursday</option>
                                <option value="fri">Friday</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12"
                         ng-if="BAMainCtrl.callFrequency.key == 'MONTHLY' || BAMainCtrl.callFrequency.key == 'end-of-month'">
                        <label class="control-label col-md-3">Call Date</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control input-medium" id="le-bilateral-ag-calldate"
                                   name="le-bilateral-ag-calldate"
                                   min="1" max="28"
                                   ng-if="BAMainCtrl.callFrequency.key == 'MONTHLY'">

                            <input type="number" class="form-control input-medium" id="le-bilateral-ag-calldate-eom"
                                   name="le-bilateral-ag-calldate-eom"
                                   min="28" max="31"
                                   ng-if="BAMainCtrl.callFrequency.key == 'end-of-month'">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Call Offset</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control input-medium" id="le-bilateral-ag-calloffset"
                                   ng-model="BAMainCtrl.callOffset" value="0" min="0" max="10">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Notification (HH:MM)</label>
                        <div class="col-md-9">
                            <uib-timepicker id="le-bilateral-ag-notification" ng-model="BAMainCtrl.notification"
                                            hour-step="BAMainCtrl.hstep" minute-step="BAMainCtrl.mstep"
                                            show-meridian="BAMainCtrl.ismeridian"></uib-timepicker>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Cure Period</label>
                        <select class="form-control input-medium col-md-9">
                            <option value="">-SELECT-</option>
                            <option value="1">1T</option>
                            <option value="2">2T</option>
                            <option value="3">3T</option>
                            <option value="4">4T</option>
                            <option value="5">5T</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Holidays</label>
                        <multiselect-dual id="BCHolidays" multiselect-elements="this.holidays"></multiselect-dual>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Status</label>
                        <div class="col-md-9">
                            <input bs-switch ng-model="BAMainCtrl.status" type="checkbox"
                                   switch-on-text="Open" switch-off-text="Close" switch-size="normal"
                                   ng-true-value="true" ng-false-value="false">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info"><i class="fa file-pdf-o"></i>Export Contract as
                                PDF
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="file" class="btn btn-info"><i class="fa upload"></i>Upload Contract</button>
                            <button type="file" class="btn btn-info hide"></button>
                        </div>
                    </div>
                </div>
                <!-- FORM SECTION RIGHT END -->

                <!-- FORM BODY END -->
            </div>
        </form>
    </div>
</div>