<div ng-controller="LEBillateralAgrElegibleCurrenciesController">

    <!-- FORM SECTION TOP BEGIN -->
    <div class="portlet light bordered col-md-12">
        <div class="portlet-body form">
            <form class="form-horizontal" role="form" id="le-bilateral-ag-left-side">
                <div class="form-body">
                    <!-- FORM BODY BEGIN -->

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3">Base Currency</label>
                            <div class="col-md-9">
                                <select id="le-bilateral-a-elegible-currencies" name="elegible-currencies-select[]"
                                        ng-options="currency as currency.codigo for currency in LegalEntity.BilateralAgreements.currencies.list track by currency.id"
                                        ng-model="LegalEntity.BilateralAgreements.elegibleCurrencies.baseCurrency">
                                    <option value="">-- SELECT BASE CURRENCY --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Collateral Policy</label>
                            <select class="form-control input-medium"
                                    ng-model="LegalEntity.BilateralAgreements.elegibleCurrencies.collateralPolicy">
                                <option value="">-- SELECT C. POLICY --</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3">Interest Date Rule</label>
                            <div class="col-md-9">
                                <select id="le-bilateral-ag-base-currency" name="base-currency-select[]"
                                        ng-options="currency as currency.codigo for currency in LegalEntity.BilateralAgreements.currencies.list track by currency.id"
                                        ng-model="LegalEntity.BilateralAgreements.elegibleCurrencies.interestDateRule">
                                    <option value="">-- SELECT BASE CURRENCY --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Interest Date Rule Only</label>
                            <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No"
                                   ng-model="LegalEntity.BilateralAgreements.elegibleCurrencies.interestDateRuleOnly"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Roll Interest to Principal</label>
                            <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No"
                                   ng-model="LegalEntity.BilateralAgreements.elegibleCurrencies.interestDateRuleOnly"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Settlement Cut-Off</label>
                            <input type="text" class="form-control input-medium" id="le-bilateral-elegibleCurrencies-settlementCutoff"
                                   ng-disabled="false">
                        </div>
                    </div>

                    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover"></table>

                    <!-- FORM BODY END -->
                </div>
            </form>
        </div>
    </div>
    <!-- FORM SECTION TOP END -->

    <!-- FORM SECTION BOTTOM BEGIN -->
    <div class="portlet light bordered col-md-6">
        <div class="portlet-body form">
            <form class="form-horizontal" role="form" id="le-bilateral-ag-right-side">
                <div class="form-body">
                    <!-- FORM BODY BEGIN -->
                    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover"></table>
                    <!-- FORM BODY END -->
                </div>
            </form>
        </div>
    </div>
    <!-- FORM SECTION BOTTOM END -->

</div>