<div>

    <!-- FORM SECTION TOP BEGIN -->
    <div class="portlet light bordered col-md-12">
        <div class="portlet-body form">
            <form class="form-horizontal" role="form" id="le-bilateral-ag-left-side">
                <div class="form-body">
                    <!-- FORM BODY BEGIN -->

                    <!-- FORM BODY END -->
                </div>
            </form>
        </div>
    </div>
    <!-- FORM SECTION TOP END -->

    <!-- FORM SECTION BOTTOM BEGIN -->
    <div class="portlet light bordered col-md-6">
        <div class="portlet-body form">
            <form class="form-horizontal" role="form" id="le-bilateral-ag-right-side">
                <div class="form-body">
                    <!-- FORM BODY BEGIN -->

                    <!-- FORM BODY END -->
                </div>
            </form>
        </div>
    </div>
    <!-- FORM SECTION BOTTOM END -->

</div>