<div class="portlet light" ng-controller="IntegrationController as IntegrationCtrl">
    <div class="row portlet light bordered" id="legal-entity-table">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-check-square-o font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze"> Audit</span>
                <span class="caption-helper">Lists</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="" class="fullscreen"> </a>
            </div>
            <div class="col-md-3">
                <div class="btn-group">
                    <button class="btn sbold green"> Add New
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="btn-group">
                        <button type="submit" class="btn green" uib-popover="Refresh"
                                popover-trigger="mouseenter" ng-click="IntegrationCtrl.refresh()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div ui-grid="gridIntegrationOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-edit
                     ui-grid-resize-columns ui-grid-selection ui-grid-pagination
                     class="grid grid-collateral"></div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <!-- END ROW -->
</div>
