<div class="portlet light" ng-controller="TradesController">

    <script type="text/ng-template" id="modalUploadTradesFile.html">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="modal-title">Upload Trades File</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">

            <div class="portlet light bordered">
                <div class="portlet-body">

                    <div ngf-drop ngf-select ng-model="files" class="drop-box center-block"
                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                         ngf-pattern="'.xml'"
                         style="width: 350px; height: 100px; padding-top: 35px;"><span>Drop Files here or click to upload</span>
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <br>
                    <div class="panel panel-info" style="height: 180px; overflow: auto;">
                        <div class="panel-heading">Upload Log:</div>
                        <div class="panel-body">
                            <div>
                                <pre>{{log}}</pre>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
            <!--<button class="btn btn-primary" type="button" ng-click="save()">Save</button>-->
        </div>
    </script>

    <div class="row portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-money font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze"> Trades</span>
                <span class="caption-helper">Upload</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="" class="fullscreen"> </a>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <button class="btn sbold blue" ng-click="TradesUpload()"> Upload Trades File
                        <i class="fa fa-upload"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="portlet-body row">
            <div class="panel panel-info" style="overflow: auto;">
                <div class="panel-heading">FPML XML Editor:</div>
                <div class="panel-body">
                    <div class="col-md-offset-11">
                        <div class="btn-group">
                            <button type="submit" class="btn green" ngclipboard data-clipboard-text="{{fpml_string}}"
                                    uib-popover="Copy to Clipboard" popover-trigger="mouseenter">
                                <i class="fa fa-copy"></i>
                            </button>
                        </div>
                    </div>
                    <div  class="col-md-12">
                        <div id="fpml_file"
                             ui-ace="{
                             onChange: fpmlChange,
                              theme:'eclipse',
                              mode: 'xml'
                            }" ng-model="fpml_string"
                             style="height: 200px;"></div>
                    </div>
                </div>
            </div>

            <div  class="col-md-offset-5 col-md-7">
                <div class="btn-group">
                    <button class="btn green" ng-click="InsertTrades()" ng-disabled="insert_flag">
                        <i class="fa fa-check"></i>  {{fpml_action}}
                    </button>
                </div>
                <button type="button" class="btn default" ng-click="clean()">
                    <i class="fa fa-eraser"></i>Clean
                </button>
            </div>
            <br><br>
            <div class="panel panel-info" style="overflow: auto;">
                <div class="panel-heading">JSON Log:</div>
                <div class="panel-body">
                    <div class="col-md-offset-11">
                        <div class="btn-group">
                            <button type="submit" class="btn green" ngclipboard data-clipboard-text="{{json_string}}"
                                    uib-popover="Copy to Clipboard" popover-trigger="mouseenter">
                                <i class="fa fa-copy"></i>
                            </button>
                        </div>
                    </div>
                    <div  class="col-md-12">
                        <div id="trades_json_file" ui-ace="{
                          theme:'eclipse',
                          mode: 'json'
                        }" readonly style="height: 200px;" ng-model="json_string"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>