<div class="portlet light" ng-controller="AgreementsController">
    <div class="row portlet light bordered" id="collateral-agreements">
        <div  class="portlet-title">
            <div class="caption" col-md-3>
                <i class="fa fa- font-dark font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze"> Collateral Agreements</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="javascript:;" class="fullscreen"> </a>
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
                        <div ui-grid="gridOptions"  ui-grid-exporter ui-grid-auto-resize ui-grid-edit
                             ui-grid-resize-columns ui-grid-selection ui-grid-pagination  class="grid"  ></div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <!-- END ROW -->
</div>